@CHARSET "UTF-8";
body {
            background-image: url(../images/flower.jpg);
            background-repeat: no-repeat;
            /* 当内容高度大于图片高度时，背景图像的位置相对于viewport固定 */
            background-attachment: fixed;
            /*此条属性必须设置否则可能无效*/
            /* 让背景图基于容器大小伸缩 */
            background-size: cover;
            /* 设置背景颜色，背景图加载过程中会显示背景色 */
            background-color: #CCCCCC;
        }

        #user_reg {
            font-family: 微软雅黑;
            font-size: 40px;
            text-align: center;
            margin-top: 20px;
        }

        form {
            width: 450px;
            /*设置宽度，方便使其居中*/
            margin: 40px auto auto auto;
            /*上右下左*/
            font-size: 35px;
        }

        input {
            height: 30px;
            width: 12em;
            margin-top: 5px;
            margin-bottom: 5px;
        }

        /*input标签下的属性选择器*/
        input[type="submit"],
        input[type="reset"] {
            height: 25px;
            width: 5em;
            margin-top: 5px;
            margin-left: 6px;
        }

        #username[value] {
            color: gray;
        }

        #username1[value] {
            color: black;
        }
