@CHARSET "UTF-8";
/* 第一项basic的统一样式，有些内容多的就里面再用内嵌样式覆盖该样式（外联样式）  */
h1 {
	text-align: center;
	font-size: 50px;
	color: transparent;
	background-color: blue;
	text-shadow: rgba(255, 255, 255, 0.5) 0 5px 6px,
		rgba(255, 255, 255, 0.2) 1px 3px 3px;
	-webkit-background-clip: text;
	padding-top: 10px;
	padding-bottom: 15px;
}

.explaination p {
    text-indent: 2em;
    font-size: 25px;
}

.box, .explaination {
	width: 1100px;
    /* border: 2px solid grey;  */
    margin-top: 10px; /* 让div居中显示:margin: 0 auto; */
    display:inline-block;/* 让内容撑开盒子，只设置宽度，不设置高度  */
    margin-left: 200px;
}

/* .explaination pre {
    font: 20px Source Code Pro;
    background-color: #efefef;
} */
pre {
    font: 20px Source Code Pro;
    background-color: #efefef;
}


.box input {
	/* width: 370px; 不设宽度，由内容撑开*/
	height: 50px;
	font-size: 33px;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 300px;
}

.box div{
	font-size: 33px;
}
